<!DOCTYPE html>
<html lang="en">

<%- include ("partials/head"); -%>

<body>
  <%- include ("partials/header"); -%>

  <main class="main-home">

    <section class="main-online">
      <header class="main-rooms-header">
        <ul class="title-list">
          <li><h2 class="rooms-title">rooms</h2></li>
          <li><h2 class="">//</h2></li>
          <!-- <li><a id="newRoomBtn" class="rooms-new">new room</a></li> -->
        </ul>
      </header>
      <div id="addRoomContainer" class="addRoom">
          <%- include ("partials/search"); -%>
          <ul class="result-list">
            <% if(search.length !== 0) { %>
              <% search.forEach((album) => { %>
                <%- include ("partials/search-result", {album: album}); -%>
              <% }) %>
            <% } %>
          </ul>
          <h1 class="alert">zorg dat spotify actief (playing) is</h1>
      </div>

      <article class="">
        <h3 class="rooms-subtitle">- current rooms</h3>
        <ul class="rooms-list">

          <li class="rooms-list-item">
            <a class="rooms-list-item-link" href="/room1">
              <h4 class="rooms-list-item-title"><%= album1.name %></h4>
              <img class="rooms-list-item-cover" src="<%= album1.images[0].url %>" alt="">
            </a>
          </li>

          <li class="rooms-list-item">
            <a class="rooms-list-item-link" href="/room2">
              <h4 class="rooms-list-item-title"><%= album2.name %></h4>
              <img class="rooms-list-item-cover" src="<%= album2.images[0].url %>" alt="">
            </a>
          </li>

          <li class="rooms-list-item">
            <a class="rooms-list-item-link" href="/room3">
              <h4 class="rooms-list-item-title"><%= album3.name %></h4>
              <img class="rooms-list-item-cover" src="<%= album3.images[0].url %>" alt="">
            </a>
          </li>

        </ul>
      </article>
      <!-- <article class="">
        <h3 class="online-title">online</h3>
        <ul class="online-list">
          <%- include ("partials/online-item"); -%>

          <%- include ("partials/online-item"); -%>

          <%- include ("partials/online-item"); -%>

        </ul>
      </article> -->
    </section>

    <section class="main-rooms">
      <!-- <header class="main-rooms-header">
        <ul class="title-list">
          <li><h2 class="rooms-title">rooms</h2></li>
          <li><h2 class="">//</h2></li>
          <li><a class="rooms-new">add room</a></li>
        </ul>
        <%- include ("partials/search"); -%>
      </header>

      <article class="">
        <h3 class="rooms-subtitle">latest</h3>
        <ul class="rooms-list">
          <%- include ("partials/room-item"); -%>

          <%- include ("partials/room-item"); -%>

          <%- include ("partials/room-item"); -%>

          <%- include ("partials/room-item"); -%>

          <%- include ("partials/room-item"); -%>

          <%- include ("partials/room-item"); -%>
        </ul>
      </article> -->


    </section>
  </main>

  <%- include ("partials/scripts"); -%>

</body>
</html>
