<!DOCTYPE html>
<html lang="en">

<%- include ("partials/head"); -%>

<body>

  <%- include ("partials/header"); -%>

  <main class="main-room">

      <%- include ("partials/album"); -%>

    <div class="main-room-container">

      <%- include ("partials/chat"); -%>

    </div>

  </main>

  <%- include ("partials/scripts"); -%>

</body>
</html>
